body { font-family:Verdana, sans-serif; line-height:22px; padding:30px }
h1 { font-family:Georgia; font-variant:small-caps; font-size:42px;letter-spacing:-2px; text-align:center; font-weight:normal }
h2 { font-family:Georgia; font-weight:normal; border:dashed #246600; border-width:1px 0; padding:10px; background:#94f13b; margin-top:30px; color:#1e1e1e }
h3 { padding:10px; background:#f5fac6; margin-top:30px; font-size:16px; text-transform:uppercase; font-weight:normal }
h4 { border-bottom:2px solid #1e1e1e; margin-bottom:-10px; color:#1e1e1e }

ol ol { list-style-type:lower-greek }
li { margin-bottom:6px }

a, a:visited { color:#1122ff; text-decoration:none }
a:hover { text-decoration:underline }

table { border-collapse:collapse }
table td { text-align:center; padding:5px }
table tr:nth-child(odd) { background:#f5f5f5 }
table th { padding:10px; background:#ebebeb; border-bottom:1px solid #ccc; font-size:12px }

pre { background:#f5f5f5; padding:10px; font-size:16px }

div.tip,div.note { background:#fffcb7; padding:5px 10px; margin-left:30px; border:1px solid #FCF888; font-size:12px }

#image { margin:auto; width:400px; border:1px solid #ccc; text-align:center; padding:10px; background:#f5f5f5 }
#image cite { font-size:10px; display:block; margin-top:-5px }
#image img { border:1px solid #ccc }
#image span { display:block; font-size:12px; text-align:center }